body{
    background-color:#68cdd5;
}
.m1 {
    width: 5vw;
    height: 5vh;
    margin: 5vw;
    float: left;

}
.m2 {
    width: 20vw;
    height: 10vh;
    padding: 10vh 0;
    clear: left;
    margin: auto ;

}
.m3 {
    width: 80vw;
    height: 20vh;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-size: 24px;
    color: white;
    clear: left;
    float:left;
    padding-right: 10vw;
    padding-left: 10vw;

}
.m4 {
    float: left;
    width: 15vw;
    height: 15vh;
    margin-left: 10vw;
    font-size: 24px;
    color: white;
    text-align: center;

}
.m5 {
    float: right;
    width: 15vw;
    height: 15vh;
    margin-right: 10vw;
    font-size: 24px;
    color: white;
    text-align: center;

}