html{
    font-size: 62.5%;

}
body{
    background-color:#68cdd5;
}
.m1 {
    margin: 1rem 0.5rem;
    float: left;

}
.m2 {
    padding: 4rem 0;
    clear: left;
    text-align: center;

}
.m3 {
    text-align: center;
    font-size: 1rem;
    color: white;
    margin:3rem 2rem;

}
.m4 {
    float: left;
    margin:2rem 2rem;
    font-size: 1rem;
    color: white;
    text-align: center;

}
.m5 {
    float: right;
    margin:2rem 2rem;
    font-size: 1rem;
    color: white;
    text-align: center;

}