html{
    font-size: 62.5%;
    background-color: #eff0f4;

}
.header {
    background-color: #5fc0cd;
    width: 100%;
    height: 8.8rem;
    margin-bottom: 1.6rem;

}
.a1{
    font-size:3.2rem;
    color: #ffffff;
    position: absolute;
    left: 3.1rem;
    top: 2.8rem;
    text-decoration: none;

}
.a2{
    font-size:3.6rem;
    color: #ffffff;
    position: absolute;
    left: 49%;
    top: 2.6rem;
    text-decoration: none;

}
.a3{
    font-size:3.2rem;
    color: #ffffff;
    position: absolute;
    right: 3.1rem;
    top: 2.8rem;
    text-decoration: none;

}
.number{
    width: 100%;
    height: 10rem;
    background-color:#ffffff;
    margin-bottom: 1.4rem;

}
.iphone{
    position: relative;
    left:0;
    top: 2.9rem;
    width: 12rem;
    text-align: center;
    border-right: 3px solid #e1e5e7;

}
.c1{
    font-size: 3.2rem;
    position: relative;
    left: 15rem;
    top:-0.5rem;
    border: 0px;
    outline: none;

}
.password{
    width: 100%;
    height: 10rem;
    background-color:#ffffff;
    margin-bottom: 6.9rem;

}
.lock{
    position: relative;
    left:0;
    top: 2.9rem;
    width: 12rem;
    text-align: center;
    border-right: 3px solid #e1e5e7;

}
.c2{
    font-size: 3.2rem;
    position: relative;
    left: 15rem;
    top:-1rem;
    border: 0px;
    outline: none;

}
.login{
    width: 100%;
    height: 10rem;
    position: absolute;
    top: 39rem;
    left: 0;
    background-color: #5fc0cd;
    font-size: 3.6rem;
    color: #ffffff;
    margin-bottom: 1.9rem;
    border: 0px;
    outline: none;

}
.wrong{
    font-size: 3.2rem;
    color: #83ccd7;
    position: absolute;
    top: 50rem;
    right: 3rem;

}
.
